body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
.container {
  max-width: 600px;
  margin: auto;
  margin-top: 31px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-weight: bold;
}
.form-group input[type="text"], .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-group img {
  max-width: 100%;
  height: auto;
}
.form-group textarea {
  height: 150px;
}
.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #0056b3;
}